.schedule-it {
  background-color: #CCC;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.schedule-it .schedule-tabs {
  background-color: #ddd;
  display: flex;
  justify-content: space-around;
}

.schedule-it .schedule-tabs > div {
  flex: 1;
  padding: 10px;
  cursor: pointer;
}

.schedule-it .schedule-tabs > .sel {
  background-color: #000;
  color: #fff;
}

.schedule-it .schedule-body {
  background-color: #FFF;
  padding: 10px;
  border: solid 2px black;
}

.schedule-it .schedule-body .tab-groups {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  margin-bottom: 30px;
}

.schedule-it .schedule-body .tab-groups > div {
  border: solid 1px black;
  flex: 1;
  text-align: center;
  padding: 3px;
  margin: 3px;
  cursor: pointer;
}

.schedule-it .schedule-body .tab-groups > .sel {
  background-color: #000;
  color: #fff;
}

.schedule-it .schedule-body .days {
  display: flex;
  padding: 5px;
  justify-content: space-around;
}

.schedule-it .schedule-body .days > div {
  border: solid 1px black;
  flex: 1;
  text-align: center;
  padding: 3px;
  margin: 3px;
  cursor: pointer;
}

.schedule-it .schedule-body .days > .sel {
  background-color: #000;
  color: #fff;
}

.schedule-it .schedule-body .am {
  background-color: #DDD;
  display: flex;
  padding: 5px;
  margin-bottom: 5px;
}

.schedule-it .schedule-body .am-hours {
  flex: 2;
  display: flex;
  justify-content: space-between;
}

.schedule-it .schedule-body .am-hours > div {
  padding: 5px;
  cursor: pointer;
}

.schedule-it .schedule-body .am-hours > .sel {
  background-color: #000;
  color: #fff;
}

.schedule-it .schedule-body .am-min {
  display: flex;
  flex: 1;
  justify-content: space-around;
  padding: 5px;
  border-left: solid 1px #000;
}

.schedule-it .schedule-body .pm {
  background-color: #DDD;
  display: flex;
  padding: 5px;
  margin-bottom: 5px;
}

.schedule-it .schedule-body .pm .pm-hours {
  flex: 2;
  display: flex;
  justify-content: space-between;
}

.schedule-it .schedule-body .pm-hours > div {
  padding: 5px;
  cursor: pointer;
}

.schedule-it .schedule-body .pm-hours > .sel {
  background-color: #000;
  color: #fff;
}

.schedule-it .schedule-body .pm .pm-min {
  display: flex;
  flex: 1;
  justify-content: space-around;
  padding: 5px;
  border-left: solid 1px #000;
}

.am-up, .am-down, .pm-up, .pm-down {
  cursor: pointer;
}