.schedule-it {

  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.schedule-it .schedule-tabs {
  display: flex;
  justify-content: space-around;
}

.schedule-it .schedule-tabs > div {
  flex: 1;
  padding: 10px;
  cursor: pointer;
}

.schedule-it .schedule-tabs > .sel {
  color: #fff;
}

.schedule-it .schedule-body {
  padding: 10px;
  border: solid 2px black;
  min-height: 200px;
}

.schedule-it .schedule-body .tab-groups {
  padding: 10px;
  margin-bottom: 30px;
}

.schedule-it .schedule-body .tab-groups > div {
  display: flex;
  justify-content: space-around;
}

.schedule-it .schedule-body .tab-groups > div > div {
  border: solid 1px black;
  flex: 1;
  text-align: center;
  padding: 3px;
  margin: 3px;
  cursor: pointer;
}

.schedule-it .schedule-body .tab-groups .sel {
  color: #fff;
}

.schedule-it .schedule-body .days {
  display: flex;
  padding: 5px;
  justify-content: space-around;
}

.schedule-it .schedule-body .days.disable {
  opacity: .3;
  pointer-events: none;
}

.schedule-it .schedule-body .days > div {
  border: solid 1px black;
  flex: 1;
  text-align: center;
  padding: 3px;
  margin: 3px;
  cursor: pointer;
}

.schedule-it .schedule-body .days > .sel {
  color: #fff;
}

.schedule-it .schedule-body .am {
  display: flex;
  padding: 5px;
  margin-bottom: 5px;
}

.schedule-it .schedule-body .am-hours {
  flex: 2;
  display: flex;
  justify-content: space-between;
}

.schedule-it .schedule-body .am-hours > div {
  padding: 5px;
  cursor: pointer;
}

.schedule-it .schedule-body .am-hours > .sel {
  color: #fff;
}

.schedule-it .schedule-body .am-min {
  display: flex;
  flex: 1;
  justify-content: space-around;
  padding: 5px;
  border-left: solid 1px #000;
}

.schedule-it .schedule-body .pm {
  display: flex;
  padding: 5px;
  margin-bottom: 5px;
}

.schedule-it .schedule-body .pm .pm-hours {
  flex: 2;
  display: flex;
  justify-content: space-between;
}

.schedule-it .schedule-body .pm-hours > div {
  padding: 5px;
  cursor: pointer;
}

.schedule-it .schedule-body .pm-hours > .sel {
  color: #fff;
}

.schedule-it .schedule-body .pm .pm-min {
  display: flex;
  flex: 1;
  justify-content: space-around;
  padding: 5px;
  border-left: solid 1px #000;
}

.schedule-it .am-up, .am-down, .pm-up, .pm-down {
  cursor: pointer;
}

.schedule-it .footer {
  margin-top: 5px;
  margin-left: auto;
}

.schedule-it .footer > div {
  background: #333;
  color: #fff;
  padding: 5px;
  width: 100px;
  text-align: center;
  cursor: pointer;
}

/* themes colors */
.schedule-it.color1 {
  background-color: #CCC;
}

.schedule-it .color2 {
  background-color: #DDD;
}

.schedule-it .color3 {
  background-color: #000;
}

.schedule-it .color4 {
  background-color: #FFF;
}